<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Carmen_VentaRechazo.ActivacionDesactivacionCostaRica</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MensajeFa</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Cliente</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>crm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<<<<<<< HEAD
<<<<<<< HEAD
<td>Login</td>
<<<<<<< HEAD
=======
<td>Venta_nueva</td>
>>>>>>> Sandor
=======
>>>>>>> 9886f0f838f2768e1d29d11e5089f421690a0312
>>>>>>> 9f6bbcc78a220b000718f75cf2bb1503e654c6bc
=======
<td>btnNF</td>
>>>>>>> 54700b781f1162f18ee4d9ad0481e1345609c32a
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
