<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<tr bgcolor="d09a64">  <td>23/07/05 20:23:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RegistroProducto.setUp()[pri:0, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 20:23:44</td>   <td>3328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistroProducto.Login()[pri:1, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">Login</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 20:23:47</td>   <td>6285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistroProducto.Inventario()[pri:2, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">Inventario</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 20:23:56</td>   <td>15829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistroProducto.Informacion()[pri:3, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">Informacion</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 20:24:02</td>   <td>21389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistroProducto.Pagina()[pri:4, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">Pagina</td> 
  <td>main@359368949</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 20:24:05</td>   <td>25047</td> <td>&nbsp;</td><td title="&lt;&lt;RegistroProducto.tearDown()[pri:0, instance:BeltherRegistroProducto.RegistroProducto@be35cd9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@359368949</td>   <td></td> </tr>
=======
>>>>>>> 9f6bbcc78a220b000718f75cf2bb1503e654c6bc
<tr bgcolor="ae7977">  <td>23/07/05 20:07:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Gestion_Proveedores.setUp()[pri:0, instance:Joseph_GestionProveedores.Gestion_Proveedores@57af006c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:07:39</td>   <td>4174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Gestion_Proveedores.Login()[pri:1, instance:Joseph_GestionProveedores.Gestion_Proveedores@57af006c]">Login</td> 
  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:07:41</td>   <td>6536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Gestion_Proveedores.Compra()[pri:2, instance:Joseph_GestionProveedores.Gestion_Proveedores@57af006c]">Compra</td> 
  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:08:20</td>   <td>45432</td> <td>&nbsp;</td><td title="&lt;&lt;Gestion_Proveedores.tearDown()[pri:0, instance:Joseph_GestionProveedores.Gestion_Proveedores@57af006c]">&lt;&lt;tearDown</td> 
=======
<tr bgcolor="ae7977">  <td>23/07/05 20:18:21</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Clase_principal.setUp()[pri:0, instance:SandorLeiva_pruebasautomatizadas.Clase_principal@57af006c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:18:24</td>   <td>2918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Clase_principal.login()[pri:1, instance:SandorLeiva_pruebasautomatizadas.Clase_principal@57af006c]">login</td> 
  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:18:27</td>   <td>5996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Clase_principal.Venta_nueva()[pri:2, instance:SandorLeiva_pruebasautomatizadas.Clase_principal@57af006c]">Venta_nueva</td> 
  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>23/07/05 20:18:40</td>   <td>18861</td> <td>&nbsp;</td><td title="&lt;&lt;Clase_principal.tearDown()[pri:0, instance:SandorLeiva_pruebasautomatizadas.Clase_principal@57af006c]">&lt;&lt;tearDown</td> 
>>>>>>> Sandor
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
>>>>>>> 9886f0f838f2768e1d29d11e5089f421690a0312
=======
<tr bgcolor="d09a64">  <td>23/07/05 21:05:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ActivacionDesactivacionCostaRica.setUp()[pri:0, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:05:46</td>   <td>5889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivacionDesactivacionCostaRica.login()[pri:1, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">login</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:05:50</td>   <td>9834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivacionDesactivacionCostaRica.crm()[pri:2, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">crm</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:05:53</td>   <td>12951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivacionDesactivacionCostaRica.btnNF()[pri:3, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">btnNF</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:05:54</td>   <td>14215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivacionDesactivacionCostaRica.Cliente()[pri:4, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">Cliente</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:07:25</td>   <td>105184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ActivacionDesactivacionCostaRica.MensajeFa()[pri:5, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">MensajeFa</td> 
  <td>main@1006227006</td>   <td></td> </tr>
<tr bgcolor="d09a64">  <td>23/07/05 21:07:45</td>   <td>125698</td> <td>&nbsp;</td><td title="&lt;&lt;ActivacionDesactivacionCostaRica.tearDown()[pri:0, instance:Carmen_VentaRechazo.ActivacionDesactivacionCostaRica@4944252c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006227006</td>   <td></td> </tr>
>>>>>>> 54700b781f1162f18ee4d9ad0481e1345609c32a
</table>
